.count {
  font-size: $font-size-extraLarge;
  font-weight: $font-weight-bold;
  color: $color-blue-grey;
  padding-left: 1rem;
  border-left: 1px solid rgba($color-blue-grey, 0.6);
}

.count__top,
.count__bottom {
  font-size: 1.3rem;
  font-weight: $font-weight-regular;
  color: $color-blue-grey;
  padding-left: 1rem;
  line-height: $line-height-regular;
}

.span__count--positive {
  color: $color-positive;
}

.span__count--negative {
  color: $color-negative;
}
