// Colors Variables

$color-primary: #00acc1;
$color-primary-dark: #007c91;

$color-grey-dark: #3f4652;
$color-grey-light: #f5f5f5;

$color-blue-grey: #73879c;
$color-blue-dark: rgba(38, 50, 56, 1);

$color-white: #ffffff;
$color-black: #000000;

$color-positive: #1da598;
$color-warning: #ffb74d;
$color-negative: #ef5350;

// ------------------ MIXINS ----------------------- //
// Media Querry Manager              $breakpoint
/*
0 - 600px       Phone                 phone
600 - 900px     Tablet Portrait       tab-port
900 - 1200px    Tablet lanscape       tab-land
1200 - 1800px   'Normal' style        
1800px +        Big desktop           big-desk

1em = 16px
*/
// 37.5 * 16 = 600px
@mixin respond($breakpoint) {
    @if $breakpoint == phone {
      @media (max-width: 37.5em) {
        @content;
      }
    }
  
    // 56.25 * 16 = 900px
    @if $breakpoint == tab-port {
      @media (max-width: 56.25em) {
        @content;
      }
    }
  
    // 75 * 16 = 1200px
    @if $breakpoint == tab-land {
      @media (max-width: 75em) {
        @content;
      }
    }
  
    //Everything between 1200 - 1800 is regular desktop
  
    // 112.5 * 16 = 1800px
    @if $breakpoint == big-desktop {
      @media (min-width: 112.5em) {
        @content;
      }
    }
  }


 // Material Design box shadows //
  @mixin mboxshadow($depth:1) {
    @if $depth==1 {
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    }
    @else if $depth==2 {
      box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    }
    @else if $depth==3 {
      box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    }
    @else if $depth==4 {
      box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    }
    @else if $depth==5 {
      box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
    }
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
  }
  