// Colors Variables

$color-primary: #00acc1;
$color-primary-dark: #007c91;

$color-grey-dark: #3f4652;
$color-grey-light: #f5f5f5;

$color-blue-grey: #73879c;
$color-blue-dark: rgba(38, 50, 56, 1);

$color-white: #ffffff;
$color-black: #000000;

$color-positive: #1da598;
$color-warning: #ffb74d;
$color-negative: #ef5350;
