@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700");

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  outline: none;
  list-style: none;
  border: none;
  background-color: transparent;
  font-family: "Roboto", Helvetica, Arial, Verdana, Tahoma;
}

html {
  // This define what 1rem is
  // 10px/16pc = 62,5% --> 1rem = 10px;
  font-size: 62.5%;
  height: 100%;
  width: 100%;
}

body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  background-color: #eee;
}

a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
  cursor: pointer;
  color: $color-white;
}

a:visited {
  color: $color-white;
}

// hides spinner arrows in input number
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}

//button reset
button {
  cursor: pointer;
  display: inline-block;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  background-image: none;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  position: relative;
  overflow: hidden;
}

.button {
  color: $color-white;
  background-color: $color-primary;
  font-weight: $font-weight-medium;
  font-size: $font-size-regular;
  line-height: $line-height-regular;
  letter-spacing: $letter-spacing-regular;
  height: 3.6rem;
  padding: 0 2rem;
  margin: 0.6rem 0;
  border-radius: 0.2rem;
  text-transform: uppercase;
  transition: all 0.2s ease-in-out;
  box-shadow: 0 12px 20px -10px rgba(0, 188, 212, 0.28),
    0 4px 20px 0 rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(0, 188, 212, 0.2);
}

.button__warm {
  background: linear-gradient(45deg, #de6262, #ffb88c);
  box-shadow: 0 12px 20px -10px rgba(#de6262, 1),
    0 4px 20px 0 rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(#ffb88c, 0.2);
}

.submit__button {
  width: 20rem;
  justify-self: center;
}

input {
  width: 100%;
  line-height: $line-height-large;
  font-size: $font-size-regular;
  cursor: pointer;
}

textarea {
  width: 100%;
  resize: none;
  border: 0.1rem solid rgba($color-grey-dark, 0.2);
  background-color: $color-grey-light;
  height: 100%;

  &:focus {
    border: 0.1rem solid $color-primary;
  }
}
textarea#message {
  padding: 0.5rem;
}
.report__title__container {
  margin-top: -45px;
  margin-bottom: 45px;
}

@media screen and (max-width: 600px) {
  .dashboard__grid {
    display: grid;
    grid-template-areas:
      "topnav"
      "main"
      "mobile";
    grid-template-rows: max-content auto 10rem;
    height: 100%;
  }
  .topnav {
    grid-area: topnav;
  }

  .main {
    grid-area: main;
  }
}
// ---------------- TYPOGRAPHY -------------------//

// -----Top Nav ----//
.available__credit__heading,
.available__credit__subheading {
  color: $color-grey-light;
  font-weight: $font-weight-bold;
  font-size: $font-size-regular;
  line-height: $line-height-regular;
  letter-spacing: $letter-spacing-regular;
  justify-self: start;
  align-self: center;
}
.available__credit__subheading {
  opacity: 0.5;
}

@include respond(tab-port) {
  .available__credit__heading {
    display: none;
  }
}

// -----INPUT CARDS / TEMPLATES GENERAL STYLING ----//

input#title,
#title,
#message,
.message__title,
textarea,
input#listName,
.react-tagsinput-input,
.rdt,
select,
#sender {
  font-weight: $font-weight-light;
  font-size: $font-size-regular;
  line-height: $line-height-regular;
  color: $color-grey-dark;
}
.rdt {
  align-self: center;
}

.template__heading {
  color: $color-white;
  font-size: $font-size-medium;
  font-weight: $font-weight-medium;
  margin-top: 1.3rem;
  letter-spacing: $letter-spacing-small;
  text-transform: uppercase;
  text-align: center;

  @include respond(tab-port) {
    font-size: $font-size-regular;
    margin-top: 1.6rem;
  }
}

.message__title {
  word-break: break-word;
}
.message__text {
  font-size: $font-size-extraSmall;
  word-break: break-word;
}

.Toastify__progress-bar--default {
  background: linear-gradient(
    to right,
    $color-white,
    $color-blue,
    $color-primary
  );
}

.Toastify__toast-container {
  width: 30rem;
  @include respond(tab-port) {
    width: 20rem;
  }
}

.error_message {
  color: $color-negative;
  font-size: $font-size-extraSmall;
  font-weight: $font-weight-light;
  text-transform: uppercase;
}

.delete__button {
  background-color: $color-negative;
  width: 100%;
}
//glob?
.calendar,
select,
input.form-control {
  font-weight: $font-weight-regular;
  color: $color-primary;
}

.register__container {
  background-color: $color-grey-dark;
  height: 100vh;
  background: linear-gradient(65deg, #2193b0, #00acc1);
  padding: 5rem;
}
