@import url("https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900");

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  outline: none;
  list-style: none;
  border: none;
  background-color: transparent;
  font-family: "Roboto", Helvetica, Arial, Verdana, Tahoma;
}

html {
  // This define what 1rem is
  // 10px/16pc = 62,5% --> 1rem = 10px;
  font-size: 62.5%;
  height: 100%;
  width: 100%;
}

body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  background-color: #eee;
}

a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
  cursor: pointer;
}

a:visited {
  color: $color-white;
}


// hides spinner arrows in input number
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}



//button reset
button {
  cursor: pointer;
  display: inline-block;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  background-image: none;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  position: relative;
  overflow: hidden;
}

.button {
  color: $color-white;
  background-color: $color-primary;
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 3.6rem;
  letter-spacing: 0.04rem;
  height: 3.6rem;
  padding: 0 2.6rem;
  margin: 0.6rem 0;
  border-radius: 0.2rem;
  text-transform: uppercase;
  transition: all 0.2s ease-in-out;
  box-shadow: 0 12px 20px -10px rgba(0, 188, 212, 0.28),
    0 4px 20px 0 rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(0, 188, 212, 0.2);
}

.submit__button {
  width: 20rem;
  justify-self: center;
}








// BI container grid
.statistics__grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  grid-gap: 2rem;
  justify-items: center;
}
// .chart {
//   grid-column: 1/-1;
// }
.campaigns__grid {
  display: grid;
  // grid-template-columns: 1fr 1fr;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  grid-gap: 3rem;
  padding: 5rem 3rem;
}









// -------------------- GRIDS -------------------------//
.template__container {
  display: grid;
  grid-template-rows: 40rem auto;
  border-radius: 12px;
}

.generated__template__container,
.new__message__container,
.newNumbersList__container {
  max-width: 50rem;
  background-color: $color-white;
  border-radius: 12px;
  @include mboxshadow(1); // depth level 1


}
.new__message__container,
.newNumbersList__container {
  display: grid;
  grid-template-rows: 5rem 2rem 3fr 1fr;
  max-width: 50rem;
  max-height: 34rem;
}

.template__title__container {
  margin: 0px 20px;
  margin-top: -20px;
  margin-bottom: 20px;
  border-radius: 6px;
  background: linear-gradient(45deg, #2193b0, #00acc1);
  box-shadow: 0 12px 20px -10px rgba(#2193b0, 1),
    0 4px 20px 0px rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(#00acc1, 0.2);
}

// ----dynamic template container----/
.generated__template__container {
  display: grid;
  grid-template-rows: 5rem 1fr;
}

.saved__messages__grid {
  display: grid;
  grid-template-columns: 2fr 3fr 1fr;
  grid-gap: 1rem;
  margin: 20px;
  padding: 1rem;
  border-bottom: 1px solid rgba($color-grey-dark, 0.3);
}

@media screen and (max-width: 600px) {
  .dashboard__grid {
    display: grid;
    grid-template-areas:
      "topnav"
      "main"
      "mobile";
    grid-template-rows: max-content auto 10rem;
    height: 100%;
  }
  .topnav {
    grid-area: topnav;
  }

  .main {
    grid-area: main;
  }}
// ---------------- TYPOGRAPHY -------------------//

// -----Top Nav ----//
.available__credit__heading,
.available__credit__subheading {
  color: $color-grey-light;
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 1.5;
  justify-self: start;
  align-self: center;
}
.available__credit__subheading {
  opacity: 0.5;
}

@media screen and (max-width: 600px) {
  .available__credit__heading {
    display: none;
  }
}

// -----INPUT CARDS / TEMPLATES GENERAL STYLING ----//

input#title,
#title,
#message,
.message__title,
textarea,
#listName,
.react-tagsinput-input,
.rdt,
select,
// input.form-control,
#sender {
  font-weight: 300;
  font-size: 1.4rem;
  line-height: 2.1rem;
  color: $color-grey-dark;
}

.template__heading {
  color: $color-white;
  font-size: 2rem;
  font-weight: 500;
  margin-top: 1.3rem;
  letter-spacing: 0.08rem;
  text-transform: uppercase;
  text-align: center;
}

.message__text {
  font-size: 1rem;
}
