// ---------- General APP Layout ----------- //

// ---------- Containers Layout ----------- //

//-- QUICK SMS --//
.campaigns__grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  grid-gap: 3rem;
  padding: 5rem 3rem;
}

// Business Inteligence container grid
.statistics__grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  // grid-template-columns: repeat(3, minmax(30rem, 1fr));

  grid-gap: 2rem;
  justify-items: center;
}

// section.statistics__grid:nth-child(2) {
//   grid-column: span 2;
//   background-color: red;
// }

// ---------- Components Layout ----------- //
// ------- TOP NAV -----//
.topnav {
  width: 100%;
  background-color: $color-grey-dark;
  height: 6.4rem;
  display: grid;
  grid-template-columns: 8fr max-content max-content;
  grid-gap: 3rem;
  padding: 0 2rem 0 2rem;
  @include respond(tab-port) {
    grid-template-columns: 15rem auto max-content;
    grid-gap: 0rem;
    padding: 0 0rem 0 0rem;
  }
}

// Top Nav credit informations bar
.available__credit__container {
  display: grid;
  grid-template-columns: repeat(3, max-content);
  grid-gap: 2rem;
  padding-left: 1rem;

  @include respond(tab-port) {
    grid-template-columns: max-content max-content;
    grid-gap: 0.5rem;
  }
}

// -- Lists and Campaigns Grid ---//

//TEMPLATES

//----- NEW SMSes Template, Contact List Template, Qucik SMS, Reports,
.lists__grid {
  display: grid;
  grid-template-rows: 2rem 2rem 12rem 1fr;
  max-height: 34rem;
  grid-gap: 2rem;
}
.newSMS__grid {
  display: grid;
  grid-template-rows: 2rem 2rem 4fr 3rem 4fr 1fr;
  height: 50rem;
  grid-gap: 2rem;
  margin: auto;
}

// ---- Dynamic template container----/
.dynamic__template {
  display: grid;
  grid-template-rows: 2rem 1fr;
  margin-top: 5rem;
}

.saved__messages__grid {
  display: grid;
  grid-template-columns: 7rem auto rem;
  grid-gap: 1rem;
  margin: 20px;
  padding: 1rem;
  border-bottom: 1px solid rgba($color-grey-dark, 0.3);
  background-color: white;
}

// ---- Quick SMS --- /@at-root

.x2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

// --- Billings ---//

// --- Billings ---//
//pricing cards container
.billing__container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(14rem, 1fr));
  grid-gap: 2rem;
  margin: 2rem;

  @include respond(tab-land) {
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  }
  @include respond(tab-port) {
    grid-template-columns: repeat(auto-fit, minmax(14rem, 1fr));
  }
}
.pricing__table {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  grid-gap: 3rem;
  padding: 2rem;
}
