.user__container {
  display: grid;
  grid-template-columns: repeat(2, max-content);
  grid-gap: 2rem;
  @include respond(tab-port) {
    grid-gap: 0rem;
    justify-self: end;
  }
}

.user__nick {
  color: $color-grey-light;
  font-size: 1.5rem;
  justify-self: end;
  align-self: center;
  @include respond(tab-port) {
    display: none;
  }
}
.user__profile__img {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  background-image: url("./example.jpg");
  background-size: contain;
  border: 2px solid $color-grey-light;

  justify-self: end;
  align-self: center;
}
