.chart {
  position: relative;
  margin-left: 100px;

}

.pie__container {
  position: absolute;
  width: 300px;
  top: 0;
  left: 0;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;

}

.pie__top__text,
.pie__top__number,
.pie__bottom__text,
.pie__bottom__number {
  color: $color-grey-dark;
  text-align: center;
}

.pie__top__number {
  font-size: 2.8rem;
  line-height: 1.3;
  font-weight: 900;
  border-bottom: 1px solid $color-grey-dark;
}
.pie__top__text,
.pie__bottom__text {
  font-size: 1.35rem;
  line-height: 1.4;
}
.pie__bottom__number {
  font-size: 1.6rem;
  line-height: 1.3;
}
