#container {
  box-sizing: border-box;
  width: 100%;
  padding-right: 2rem;
}

.pie__container {
  position: absolute;
  width: 300px;
  top: 0;
  left: 0;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pie__top__text,
.pie__top__number,
.pie__bottom__text,
.pie__bottom__number {
  color: rgba($color-grey-dark, 0.9);
  text-align: center;
}

.pie__top__number {
  font-size: $font-size-large;
  line-height: $line-height-small;
  font-weight: $font-weight-bold;
  border-bottom: 1px solid $color-grey-dark;
}
.pie__top__text,
.pie__bottom__text {
  font-size: $font-size-small;
  line-height: $line-height-regular;
}
.pie__bottom__number {
  font-size: $font-size-regular;
  line-height: $line-height-regular;
  font-weight: $font-weight-medium;
}
