@media screen and (min-width: 600px) {
  .dashboard__grid {
    display: grid;
    grid-template-areas:
      "sidenav topnav topnav"
      "sidenav  main main";
    grid-template-rows: 6.4rem 1fr;
    grid-template-columns: 26rem 1fr;
  }
}
.topnav {
  grid-area: topnav;
}

.sidenav {
  grid-area: sidenav;
  background-color: $color-blue-dark;
}

.main {
  grid-area: main;
}
.mobilenav {
  grid-area: mobile;
}

.sidenav {
  color: $color-white;
  // width: 26rem;
  z-index: 1;
  background-color: $color-blue-dark;
  position: fixed;
  cursor: pointer;
  height: 100%;
}
.sidenav {
  display: grid;
  grid-template-columns: minmax(26rem, 1fr);
  grid-template-rows: 1fr 8fr 1fr;

  background-color: $color-blue-dark;
}

.sidenav__title {
  font-size: 1.8rem;
  text-align: left;
  font-weight: 400;
  line-height: 3rem;
  margin: 1rem 1.5rem 0;
  padding: 1rem 1.5rem;
  display: block;
  text-transform: uppercase;
  height: 7rem;
}

.sidenav__list--item {
  font-weight: 300;
  font-size: 1.4rem;
  line-height: 2.1rem;
  color: $color-white;
  width: auto;
  margin: 1rem 1.5rem 0;
  padding: 1rem 1.5rem;
  display: block;
  position: relative;
  transition: all 300ms linear;
  background-color: transparent;
  border-bottom: 1px solid rgba($color-white, 0.3);
}

.sidenav__button {
  margin: 1.5rem;
}

.sidenav__icon {
  height: 2rem;
  width: auto;
  fill: rgba($color-white, 0.85);
  margin-right: 1.5rem;
  margin-bottom: -0.5rem;
}
.sidenav__icon--title {
  height: 2rem;
  width: auto;
  fill: $color-primary;
  margin-right: 1.5rem;
}

@media screen and (max-width: 600px) {
  .sidenav {
    display: none;
  }
}

@media screen and (min-width: 600px) {
  .mobilnav {
    display: none;
  }
}
@media screen and (max-width: 600px) {
  .dashboard__grid {
    display: grid;
    grid-template-areas:
      "topnav"
      "main"
      "mobile";
    grid-template-rows: max-content auto 10rem;
    // width: 100vw;
    height: 100%;
  }
  .topnav {
    grid-area: topnav;
  }

  .main {
    grid-area: main;
  }

  .mobilnav {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    z-index: 100;
  }

  .mobilnav__container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    background-color: $color-primary;
    height: 100%;
    color: rgba($color-grey-dark, 0.5);
    justify-items: center;
    align-items: center;
    padding: 0.5rem;
  }
  .mobilenav__list--item {
    fill: rgba($color-grey-dark, 0.8);
    display: grid;
  }
  .mobilenav__icon {
    height: 3.5rem;
    padding: 0.2rem;
    margin-bottom: 0.2rem;
  }
  .mobilenav__link {
    font-size: 1.2rem;
    line-height: 1.5rem;
    text-transform: uppercase;
    font-weight: 300;
    text-align: center;
    fill: rgba($color-grey-dark, 0.8);
    align-self: center;
  }
}

.mobilenav__list--item a {
  color: $color-grey-dark;
}
