.nav__lang__item {
  color: $color-grey-light;
  font-size: 1.5rem;
  line-height: 1.5;
  font-weight: 300;
  height: 100%;
  width: 3rem;
  @include respond(tab-port) {
    width: 4.4rem;
  }
}

.nav__lang__item__active {
  font-weight: bold;
  color: $color-primary;
}

.nav__lang {
  text-align: center;
  margin: auto;
  color: $color-white;
  height: 100%;
}
