.topnav {
  width: 100%;
  background: linear-gradient(135deg, #2193b0, #00acc1);
  // background: linear-gradient(135deg, #2b5876, #4e4376);
  // background-color: #ffffff;
  height: 6.4rem;
}

.circle {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
  background-color: white;
}
