.nav__lang__item {
  color: $color-grey-light;
  font-size: $font-size-regular;
  line-height: $line-height-regular;
  font-weight: $font-weight-light;
  height: 100%;
  width: 3rem;
  @include respond(tab-port) {
    width: 4.4rem;
  }
}

.nav__lang__item__active {
  font-weight: bold;
  color: $color-primary;
}

.nav__lang {
  text-align: center;
  margin: auto;
  color: $color-white;
  height: 100%;
}
