.pricing__slot {
  background-color: $color-white;
  width: 25rem;
  height: auto;
  border-radius: 12px;
  box-shadow: 0 6px 10px -4px rgba(0, 0, 0, 0.15);
  text-align: center;
  overflow: hidden;
  align-self: center;
  justify-self: center;
  background: $color-white;
  &:hover {
    @include mboxshadow(2);
  }
}

.pricing__detail {
  font-weight: $font-weight-light;
  font-size: $font-size-regular;
}

// .pricing__slot,
.price-head {
  padding: 50px;
  background: linear-gradient(45deg, $color-blue, $color-primary);
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
}

.button__pricing {
  background: linear-gradient(45deg, $color-blue, $color-primary);
  margin-bottom: 2rem;
}
.active__package {
  height: 100%;
}
.current {
  background: linear-gradient(45deg, $color-negative, $color-warning);
}

.pricing__subtitle {
  text-transform: uppercase;
  color: $color-white;
  font-weight: $font-weight-bold;
  font-size: $font-size-regular;
}

.pricing__title {
  padding: 20px 0 0;
  font-size: $font-size-medium;
  color: $color-white;
  font-weight: $font-weight-regular;
}

.price__content ul {
  padding: 20px 0;
}

.price__content ul li {
  font-size: $font-size-extraSmall;
  text-transform: uppercase;
  padding: 10px 0;
  font-weight: $font-weight-medium;
}

.pricing__span {
  font-weight: $font-weight-medium;
  opacity: 0.6;
}
