.report__container {
  border: 0;
  // margin: 2rem;
  border-radius: 6px;

  display: grid;
  // grid-template: 100px 100px auto;
  grid-template-rows: 1fr 1fr 1fr;

  background-color: $color-white;
  // max-width: 60rem;
}

.card__header {
  border-radius: 3px;
  margin-top: -20px;
  padding: 15px;
  box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.14),
    0 7px 10px -5px rgba($color-primary, 0.4);
  background: linear-gradient(60deg, $color-primary, $color-primary-dark);
  display: grid;
}

.card__body {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

th {
  color: $color-primary;
  text-transform: uppercase;
  font-weight: 400;
  text-align: start;
}
.report__heading {
  font-weight: 300;
  font-size: 1.6rem;
  line-height: 1.5;
  padding-left: 2rem;
  color: $color-primary;
}

td {
  padding-left: 2rem;
  margin-top: 1rem;
}

.test__grid {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
}

// .cell__grid {
//   display: grid;
//   grid-template-columns: 1fr;
// }

.delivery__box {
  height: 100%;
  border-radius: inherit;
  margin-top: 1rem;
}

.deliveryreport {
  background-color: $color-primary;
}

.delivery__box__item {
  font-size: 1.6rem;
  font-weight: 2.1rem;
  color: $color-grey-dark;
}
// 0 – SMS not yet processed
.deliveryreport__notprocessed {
  background-color: pink;
}

//1 – SMS Delivered
.deliveryreport__delivered {
  background-color: green;
}

// 2 – SMS Pending
.deliveryreport__pending {
  background-color: yellow;
}

//3 – Not Delivered (Permanent Failure)
.deliveryreport__notdelivered {
  background-color: red;
}

//4 – Expired (Not Permanent Failure)
.deliveryreport__expired {
  background-color: grey;
}

.filterbutton {
  padding: 5px;
  border: 1px transparent solid;
}

.filterbutton__active {
  border: 1px chartreuse solid;
}
