.report__container {
  display: grid;
  grid-template-rows: 5rem 5rem 5rem auto;
  border-radius: 6px;
  margin: 5rem;
  background-color: $color-white;
  padding: 2rem;
}

.card__body,
.report__columns {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  width: 100%;
}

.card__body {
  padding-top: 2rem;
}

th {
  font-size: 1.6rem;
  line-height: 1.5;
  color: $color-primary;
  text-transform: uppercase;
  font-weight: 300;
  text-align: start;
}

td {
  padding-left: 2rem;
  margin-top: 1rem;
}


.report__datepicker {
  display: grid;
  grid-template-columns: repeat(4, max-content);
  grid-gap: 1.5rem;
}

.delivery__box__item {
  font-size: 1.6rem;
  font-weight: 2.1rem;
  color: $color-grey-dark;
  padding: 0.6rem 0.4rem;
  font-weight: 300;
  line-height: 1.5;
  vertical-align: middle;
  border-bottom: 1px solid rgb(224, 224, 224);
}

.deliveryreport__notprocessed,
.deliveryreport__delivered,
.deliveryreport__pending,
.deliveryreport__notdelivered,
.deliveryreport__expired {
  color: $color-grey-dark;
  text-align: center;
  font-weight: 500;
  font-size: 2rem;
  padding-top: 0.3rem;
}
// 0 – SMS not yet processed
.deliveryreport__notprocessed {
  background-color: #eceff1;
}

//1 – SMS Delivered
.deliveryreport__delivered {
  background-color: $color-positive;
}

// 2 – SMS Pending
.deliveryreport__pending {
  background-color: $color-warning;
}

//3 – Not Delivered (Permanent Failure)
.deliveryreport__notdelivered {
  background-color: $color-negative;
}

//4 – Expired (Not Permanent Failure)
.deliveryreport__expired {
  background-color: #b0bec5;
}

.filters__status__containers {
  display: grid;
  grid-template-columns: repeat(7, max-content);
  grid-gap: 1rem;
  padding: 1rem 0 1rem 0rem;
}
.filterbutton {
  padding: 5px;
  border: 1px transparent solid;
  font-weight: 300;
  font-size: 1.6rem;
  line-height: 1.5;
}

.filterbutton__active {
  border-bottom: 1px $color-primary solid;
}

.report__span {
  font-size: 1.6rem;
  line-height: 1.5;
  font-weight: 700;
  color: #73879c;
  align-self: center;
}
