.report__container {
  border: 0;
  margin-bottom: 30px;
  margin-top: 30px;
  border-radius: 6px;
  color: $color-white;
  background: #fff;
  max-width: 100%;

  padding-left: 25%;
  padding-right: 5%;
}

.card__header {
  border-radius: 3px;
  margin-top: -20px;
  padding: 15px;
  box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.14),
    0 7px 10px -5px rgba($color-primary, 0.4);
  background: linear-gradient(60deg, $color-primary, $color-primary-dark);
}

.card__body {
  color: black;
}

th {
  color: $color-primary;
  text-transform: uppercase;
  font-weight: 400;
  text-align: start;
}

.test__grid {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
}

.cell__grid {
  display: grid;
  grid-template-columns: 1fr;
}
