.available__credit__container {
  display: grid;
  grid-template-columns: 1fr 1.5fr 1fr;
}

.available__credit__bar {
  position: relative;
  height: 2rem;
  width: 15rem;
  border-radius: 5rem;
  border: 1px solid $color-grey-light;
  justify-self: center;
  align-self: center;
}

.available__credit__heading {
  font-size: 1.5rem;
  font-weight: 700;
  color: $color-grey-light;
  justify-self: start;
  align-self: center;
}
.available__credit__subheading {
  font-size: 1.5rem;
  font-weight: 700;
  color: $color-grey-light;
  opacity: 0.5;
  justify-self: start;
  align-self: center;
}
.filler {
  background: $color-positive;
  height: 100%;
  border-radius: inherit;
  transition: width 0.2s ease-in;
}

.filler__positive {
  background: $color-positive;
}

.filler__warning {
  background: $color-warning;
}

.filler__negative {
  background: $color-negative;
}
