.available__credit__container {
  display: grid;
  grid-template-columns: 1fr 1.5fr 1fr;
  grid-gap: 1rem;
}

.available__credit__bar {
  position: relative;
  height: 2rem;
  width: 15rem;
  border-radius: 5rem;
  border: 0.1rem solid $color-grey-light;
  justify-self: center;
  align-self: center;
}

.filler {
  height: 100%;
  border-radius: inherit;
  transition: width 0.2s ease-in;
}

.filler__positive {
  background: $color-positive;
}

.filler__warning {
  background: $color-warning;
}

.filler__negative {
  background: $color-negative;
}
