.template__fieldset {
  width: 400px;
  height: 400px;
  background: aqua;
}

textarea,
input {
  font-size: 2rem;
}

textarea {
  resize: none;
  width: 100%;
  height: 100%;
  background-color: red;
}
