label {
  width: 90%;
  margin-left: 5%;
}

input#title {
  width: 100%;
  height: 100%;
  border-bottom: 0.1rem solid rgba($color-grey-dark, 0.3);
}
textarea {
  width: 100%;
  height: auto;
  resize: none;
  padding-top: 1rem;
}

.delete__button {
  background-color: $color-negative;
  width: 100%;
}
