.aside__grid {
  display: grid;
  grid-template-rows: min-content max-content max-content;
  height: 100%;
  width: 100%;
  padding: 3rem;
  grid-gap: 4rem;
}
.aside__title {
  justify-content: center;
  align-content: center;
}
.aside__heading {
  font-size: $font-size-large;
  font-weight: $font-weight-regular;
  color: $color-grey;
  text-align: center;
}
.aside__subheading {
  text-align: center;
  font-size: $font-size-medium;
  font-weight: $font-weight-regular;
  color: $color-grey;
  color: $color-primary-dark;
  justify-content: center;
  align-content: center;
  padding: 0 2rem 0rem 2rem;
}
.asideLogo__wraper {
  text-align: center;
}
.aside__links {
  display: grid;
  grid-template-columns: max-content max-content max-content max-content max-content;
  grid-gap: 1rem;
  color: $color-grey;
  align-content: center;
  justify-content: center;
  font-size: $font-size-regular;
  font-weight: $font-weight-light;
  width: 100%;
  padding-bottom: 4rem;
}
