.register__container {
  background-color: $color-grey-dark;
  height: 100vh;
  background: linear-gradient(65deg, #2193b0, #00acc1);
  padding: 5rem;
}
.authentication__wraper {
  width: 30rem;
  height: 40rem;
  margin: auto;
  vertical-align: middle;
  padding-top: 50px;
}
