@import "../node_modules/normalize.css/normalize";

@import "./sass/abstracts.scss";
@import "./sass/base.scss";
@import "./sass/grids.scss";

@import "./components/Bars/AvailableCreditBar.scss";
@import "./components/Billing/Billing.scss";
@import "./components/Charts/Charts.scss";

@import "./components/Pricing/Pricing.scss";
@import "./components/Report/Report.scss";
@import "./components/RDT/RDT.scss";
@import "./components/SideNav/SideNav.scss";

@import "./components/MobileNav/MobileNav.scss";

@import "./components/TopNav/TopNav.scss";
@import "./components/User/User.scss";

@import "./components/Templates/Templates.scss";

.error_message {
  color: $color-negative;
  font-size: 1.1rem;
  font-weight: 300;
  text-transform: uppercase;
}

.delete__button {
  background-color: $color-negative;
  width: 100%;
}
//glob?
.calendar,
select,
input.form-control {
  font-weight: 400;
  color: $color-primary !important;
}
