.logo__icon {
  max-width: 20vw;
  fill: $color-grey;
  align-content: center;
  justify-content: center;
  //   background-color: $color-primary-dark;
  animation-name: logoAnimation;
  animation-duration: 5s;
}

@keyframes logoAnimation {
  0% {
    fill: transparent;
    stroke-dasharray: 204.50503540039062px;
    stroke-dashoffset: 409;

    stroke: $color-grey;
    stroke-width: 1px;
  }
  100% {
    fill: $color-grey;
    stroke-dashoffset: 0px;
  }
}
