.newNumbersList__container .template__title__container {
  background: linear-gradient(45deg, #de6262, #ffb88c);
  box-shadow: 0 12px 20px -10px rgba(#de6262, 1),
    0 4px 20px 0px rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(#ffb88c, 0.2);
}
.gradient__warm,
.newNumbersList__container button {
  background: linear-gradient(45deg, #de6262, #ffb88c);
}

// tagsimput RESET
.react-tagsinput {
  width: 100% !important;
  height: 100%;
  margin-left: 0% !important;;
  border: 1px solid #ccc;
  overflow: hidden;
  padding: 0.5rem;
  background-color: #F8F8F8;
  // margin: 2rem 0 0.5rem 0;
}
.react-tagsinput--focused {
  border: 1px solid $color-primary;

}
.react-tagsinput-input {
  background: transparent;
  width: 100%; 
  font-weight: 300; 
  font-size: 1.4rem; 
  line-height: 2.1rem; 
  color: $color-grey-dark;
  margin-bottom: 6px;
  margin-top: 1px;
  outline: none;
  padding: 5px;
  max-width: 300px;
}

.react-tagsinput-tag {
  background-color: $color-primary !important;
  color: $color-grey-light !important;
  font-weight: 300 !important;
  border: 1px solid $color-primary !important;
}

#listName {
  width: 100%;
  height: 100%;
}

.react-tagsinput-tag {
  border-radius: 2px;
  display: inline-block;
  font-weight: 400;
  margin-bottom: 0.5rem;
  margin-right: 0.5rem;
  padding: 0.5rem;
}

.react-tagsinput-remove {
  cursor: pointer;
  font-weight: bold;
}

.react-tagsinput-tag a::before {
  content: " ×";
}


